<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1>Projeto Autenticação de Usuário<br />(MongoDB/Node/Express/EJS/Passport)</h1>
    <p class="lead">Registre-se e/ou faça Login para fazer uma postagem! =)</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Registre-se</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
<%- include('partials/footer') %>
