<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Agora que está logado, faça uma postagem!</h1>
    <p class="secret-text">Você envia sua postagem para a database e depois ela aparece no site!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="post" placeholder="Faça a sua postagem.">
      </div>
      <button type="submit" class="btn btn-dark">Postar</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
